body{
  margin: 0;
}
.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}


.header {
  box-shadow: 10px 10px 5px #4d4848;
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  color: white;
  font-size: 25px;
  font-family: jazz-LET,fantasy;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
}
.dao-button{
  height: 100px;
  width: 350px;
  background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
  color: white;
  font-size: 50px;
  font-family: jazz-LET,fantasy;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  background: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
  padding: 20px;
  display: flex;
}

.footer {
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
  padding: 20px;
  color: white;
  font-family: andale mono,monospace;
}

.dao {
  border: 2px solid black;
  width: 50%;
  display: flex;
  height: 600px;
  border-radius: 10px 0 0 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.mo{
  border: 2px solid black;
  width: 50%;
  height: 600px;
}
.logo{
  margin-right: 900px;
}
.anime{
  color: white;
  margin-right: 30px;
}
.home{
  color: white;
  margin-right : 30px;
}
.contact{
  color: white;
  margin-right : 30px;
}
.about{
  color: white;
  margin-right : 30px;
}
.music{
  color: white;
  margin-right : 30px;
}

a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  text-decoration: none;
}
