.container {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main main main"
      "footer footer footer footer";
  }

.header{
    grid-area: header;
    background-color: black;
    color: #fff;
    padding: 1em;
    display: flex; 
    justify-content: space-between; 
}

